h1= @question.title
p= @question.body

h3 Avaliable actions
= render 'actions', question: @question

h2= 'Answers to this question'
- @question.answers.each do |ans|
  = render 'shared/answer', answer: ans

h2= 'Create an answer'
= render 'answers/form', question: @question, answer: @question.answers.new
